html{
    box-sizing: border-box;
}
*, *::after, *::before{
    box-sizing: inherit;
}
body{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    font-family: 'Roboto' sans-serif;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.section-title{
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #333;
    padding-top: 120px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0;
    z-index: 999;
    background-color: #F5D6AB;
}
.container-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.header-logo{
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFAF2;
}
.header-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.header-item{
    margin-right: 60px;
}
.header-link{
    color: #FFFAF2;
    cursor: pointer;
    background-image: linear-gradient(#C66C49, #C66C49);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 0% 2px;
    transition: 0.3s all;
}
.header-link:hover, .header-link:focus, .header-link:active{
    background-size: 100% 2px;
}
.home{
    min-height: 100vh;
    background: url(../img/home.jpg) no-repeat center;
    background-size: cover;
}
.home-title{
    font-size: 64px;
    line-height: 78px;
    padding-top: 267px;
    color: #FFFAF2;
}
.home-subtitle{
    font-size: 24px;
    line-height: 29px;
    padding-top: 30px;
    color: #FFFAF2;
}
.about{
    display: block;
    min-height: 550px;
    background-color: #FFF;
}
.about-subtitle:first-of-type{
    padding-top: 76px;
}
.about-subtitle:last-of-type{
    padding-top: 20px;
}
.skills{
    background-color: #FFFAF2;
}
.container-skills{
    padding-top: 85px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 145px;
}
.wrapper-skills{
    padding-right: 165px;
}
.skills-item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}
.skills-item:first-of-type{
    padding-bottom: 65px;
}
.skills-title{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: inline-block;
    width: 125px;
}
.skills-progress{
    padding-left: 65px;
}
.skills-subtitle{
    padding-left: 65px;
    line-height: 25px;
}
progress{
    -webkit-appearance: none;
    height: 24px;
    width: 446px;
}
progress::-webkit-progress-bar{
    background: #F5D6AB;
}
progress::-webkit-progress-value{
    background: #C66C49;
}
.container-portfolio{
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 86px 0 145px 0;
}
.info-block-title{
    margin-bottom: 48px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}
.info-block-subtitle{
    max-width: 350px;
}
.picture-block{
    display: grid;
    grid-template-areas: "a b"
                        "c b"
                        "c d";
    grid-row-gap: 40px;
}
.element-1{
    grid-area: a;
}
.element-2{
    grid-area: b;
}
.element-3{
    grid-area: c;
}
.element-4{
    grid-area: d;
}
.container-contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 30px;
}
.contact{
    border-top: 2px solid #C66C49;
    background-color: #FFFAF2;
    padding-bottom: 30px;
}
.form-contact{
    padding: 30px;
}
.form-contact-title{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 15px;
}
.input-contact{
    border: 2px solid #F5D6AB;
    border-radius: 5px;
    margin-right: 20px;
    padding: 10px;
    color: #C66C49;
}
.contact-button{
    color: #757575;
    background-color: #fff;
    border: none;
    font-size: 20px;
    line-height: 25px;
    padding: 7px;
    border: 2px solid #F5D6AB;
    transition: 0.4s all;
}
.contact-button:hover, .contact-button:active, .contact-button:focus{
    color: #C66C49;
    border: 2px solid #C66C49;
}
.my-contact{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
}
.my-contact-link{
    display: inline-block;
    color: #757575;
    margin-bottom: 10px;
    background-image: linear-gradient(#C66C49, #C66C49);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 0% 2px;
    transition: 0.3s all;
}
.my-contact-link:hover, .my-contact-link:active, .my-contact-link:focus{
    background-size: 100% 2px;
}
